<div class="container">
  <h1>Post Form</h1>
  <form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div class="form-group">
      <label for="title" [class.text-danger]="!isValid(title)">Title</label>
      <span [hidden]="isValid(title)" class="text-danger">is required</span>
      <input type="text" name="title" id="title" class="form-control" required
             [(ngModel)]="model.title" #title="ngModel">
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea name="text" id="text" cols="30" rows="10" class="form-control" required
                [(ngModel)]="model.text"></textarea>
    </div>
    <div class="form-group">
      <label for="category">Categories</label>
      <select class="form-control" name="category" id="category"
              [(ngModel)]="model.category">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="tag">Tag</label>
      <input type="text" name="tag" id="tag" class="form-control"
             [(ngModel)]="model.tag">
    </div>
    <button type="submit" class="btn btn-default"
            [disabled]="!postForm.form.valid">Submit</button>
    Form has been submitted : {{ submitted }}
  </form>
</div>
