<h1>Other Post Form</h1>
<form (ngSubmit)="onSubmit(postForm.value)" [formGroup]="postForm">
  <div class="form-group">
    <label for="title" [class.text-danger]="!isValid(postForm.controls.title)">Title</label>
    <span [hidden]="isValid(postForm.controls.title)" class="text-danger">is required and must start with "{{ START_TITLE }}"</span>
    <input type="text" id="title" class="form-control" required
           formControlName="title">
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <textarea id="text" cols="30" rows="10" class="form-control" required
              formControlName="text"></textarea>
  </div>
  <div class="form-group">
    <label for="category">Categories</label>
    <select class="form-control" name="category" id="category"
            formControlName="category">
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="tag">Tag</label>
    <input type="text" name="tag" id="tag" class="form-control"
           formControlName="tag">
  </div>
  <button type="submit" class="btn btn-default"
          [disabled]="!postForm.valid">Submit</button>
  Form has been submitted : {{ submitted }}
</form>
